@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.3); */
    color: #fff;
    padding: 15px;
    text-align: center;
    z-index: 10;
}

header h1 {
    font-size: 2.5em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seção principal com imagem de fundo */
.section-home {
    background-image: url('images/galeria3.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.section-home .hero-content {
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    z-index: 5;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.section-home h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.section-home p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cta-button {
    padding: 10px 20px;
    background-color: #b2744c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #b2744c;
}

/* Seções */
.section {
    padding: 40px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo da seção "Sobre" com imagem */
.section .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.section-image {
    width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilo da galeria de menu */
.menu-gallery {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.menu-item {
    width: 400px;
    text-align: center;
}

.menu-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.menu-item h3 {
    margin-top: 10px;
    color: #b2744c;
}

.menu-item p {
    font-weight: bold;
    color: #333;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: #b2744c;
    color: #000000;
    padding: 10px;
    margin-top: 20px;
}


footer p {
    font-size: 0.9em;
    
}

/* Estilo do botão Mais Detalhes */
.details-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #b2744c;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.details-button:hover {
    background-color: #b2744c;
}
